/* Colour Scheme */
$highlight: #0A7EA5;
$highlightinverse: white;
$highlightbackground: #d3d3d3;
$valueofcenter: center;
$contrast: #358566;
$main-color: #514E4E;

$imagedir: "../images";

$sitelogo: "#{$imagedir}/logo-first.svg";

$logoheight:120px;
$bigaddon:50px;
$logowidth:147px;
