
.meta {
   display:flex;
   flex-flow: row nowrap;
   padding:1em 0;
   justify-content:center;
   margin:0;
   height:14em;
}

.meta img {
   flex: 0 1 auto;
   width:auto;
   height:100%;
   align-self:center;
   padding-right:2em;
}

.meta img, .meta table {
   margin:0;
   align-self:center;
}

.meta table {
   flex: 1 1 auto;
   width:auto;
   height:100%;
}

.meta th {
   font-size:1em;
   vertical-align:middle;
}

section {
   display:flex;
   flex-flow:row wrap;
}

nav h2, section h2, section figure {
   margin-left:2%;
   margin-right:2%;
}

nav h2 {
   width:auto;
}

section nav {
   width:100%;
}


section figure {
   width:15em;
   display:inline-block;
   flex:1 1 15em;
}

figure figcaption {
   text-align:center;
}

body {
   padding: 2em 4em;
}

header {
  padding:0 4em 1em 4em;
  clear:right;
}

header h1 {
   font-size:3.5em;
   padding-bottom:1em;
   background-size:auto $logoheight;
   margin-bottom:-0.6em;
}

header input {
   width:auto;
}

main {
   margin:$logoheight auto 0 auto;
}


body section nav {
  padding-top: 5em;
}

h1 {
   font-size:100%;
   margin-bottom:0.4em;
}

h2 {
   font-size:2.5em;
}

h3 {
   text-align:center;
}

form li {
  display: inline-block;
  padding:.5em .5em .5em .5em;
}

input[type="checkbox"] {
  margin-top: .2em;
  width: 10%;
}

fieldset input, fieldset select  {
    width: 70%;
}

fieldset select  {
  width: 9em;
}

main form input[type="submit"], form fieldset, form .buttonlogin{
  margin-left: 25%;
}

.reallysmallbox {
  width: 8em;
}

iframe {
  width: 50%;
  height: 20em;
}
