<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
   <head>
    <title>homepage</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro:400,300,700' rel='stylesheet' type='text/css' />
    <link href="styles/style.css" rel="stylesheet" type="text/css" media="screen, handheld" />
    <link href="styles/large.css" rel="stylesheet" type="text/css" media="screen and (min-width:40em)" />
    <!--[if (lt IE9) & (!IEMobile)]>
        <link href="css/large.css" rel="stylesheet" type="text/css" />
        <![endif]-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <header>
      <form action="http://www.google.com" method="get">
         <h1>Title</h1>
         <input type="submit"  value="Search"/>
      </form>
   </header>
   <main>
