/* Colour Scheme */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  line-height: 1.5em;
  font-family: "Source Sans Pro";
  padding: 1em;
  line-height: 1.6em;
  color: #514E4E; }

header {
  box-sizing: border-box;
  position: fixed;
  top: 0em;
  left: 0em;
  right: 0em;
  display: inline-block;
  text-align: right;
  height: 120px;
  -webkit-box-shadow: 0 1px 3px 2px rgba(201, 201, 201, 0.5);
  -moz-box-shadow: 0 1px 3px 2px rgba(201, 201, 201, 0.5);
  box-shadow: 0 1px 3px 2px rgba(201, 201, 201, 0.5);
  background-color: white;
  padding: 0.5em 1em 0 1em; }

header h1 {
  font-size: 2.3em;
  font-weight: bold;
  background: white url("../images/logo-first.svg") no-repeat left top;
  width: 100%;
  margin: 0;
  padding: 0.5em 0; }

header form {
  margin: 0 auto;
  height: 60%; }

header input {
  width: 100%;
  padding: .5em .5em;
  font-size: .8em;
  border: 1px solid #514E4E;
  border-top-left-radius: .5em .5em;
  border-bottom-left-radius: .5em .5em;
  border-top-right-radius: .5em .5em;
  border-bottom-right-radius: .5em .5em;
  background-color: #0A7EA5;
  color: white;
  box-sizing: border-box;
  margin-top: 0.5em; }

main {
  margin: 120px auto 0 auto;
  text-align: center; }

main, header form {
  max-width: 60em; }

header form {
  margin: 0 auto; }

section header {
  position: inherit;
  background: none;
  border: none;
  height: auto; }

h2, h3 {
  width: 100%; }

section > h2:hover {
  background-color: green;
  cursor: pointer; }

section {
  overflow: hidden;
  max-height: 100em;
  margin: 0 0 0.5em 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

section li {
  margin-top: 1em; }

nav ul li {
  display: list-item;
  margin: 0.5em 0; }

figure {
  margin: 1em 0; }

figure img {
  width: 100%;
  display: block; }

figure figcaption {
  font-size: 1.2em; }

h1, h2, h3 {
  color: #514E4E; }

h1 {
  font-size: 100%; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.2em; }

h2, h3, h4 {
  font-weight: lighter;
  background-color: #0A7EA5;
  color: white;
  padding: 0.3em 0;
  clear: left; }

th {
  font-weight: lighter;
  color: #514E4E;
  font-size: 2em;
  line-height: 1.3em; }

td {
  vertical-align: middle; }

table {
  margin: 1.5em 0; }

p {
  text-align: justify;
  margin: 0.5em 0; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

a {
  color: #0A7EA5; }

a:visited {
  color: #358566; }

pre {
  line-height: 1.3em; }

code {
  color: #0A7EA5; }

legend {
  font-size: 120%;
  padding-top: .5em;
  margin-bottom: .5em;
  font-weight: bold; }

form ul {
  text-align: center; }

form li {
  display: inline-block;
  font-size: 200%;
  padding: .3em .3em .3em .3em;
  margin-bottom: .3em;
  color: #0A7EA5;
  background: #d3d3d3; }

form li:hover {
  color: #d3d3d3;
  background: #0A7EA5; }

label {
  display: -webkit-box;
  padding-right: 5em; }

fieldset {
  text-align: left; }

fieldset input, fieldset select {
  display: -webkit-box;
  padding: .5em .5em;
  margin-right: .5em;
  font-size: .8em;
  border: 1px solid #514E4E;
  width: 95%;
  background-color: #0A7EA5;
  color: white; }

.smallbox {
  width: 40%; }

fieldset select {
  width: 6.5em; }

.reallysmallbox {
  width: 5.5em; }

input[type="checkbox"] {
  width: 15%;
  float: none;
  margin: .65em 0em 0em 0em; }

h2 button {
  vertical-align: bottom;
  color: white;
  border: 1px solid white;
  margin-left: 1em;
  font-size: 0.5em; }

button {
  background-color: #0A7EA5;
  color: #d3d3d3;
  border: 1px solid #514E4E; }

.detail {
  margin-top: 1em; }

caption {
  display: none; }

table {
  width: 100%;
  text-align: center; }

.first {
  width: 70%; }

tbody tr {
  border-top: 0.1em solid #d3d3d3;
  border-bottom: 0.1em solid #d3d3d3; }

iframe {
  margin-top: 1em;
  height: 10em;
  width: 100%; }

.collapsed {
  max-height: 3em; }

/*# sourceMappingURL=style.css.map */
